* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);

  display: flex;
  flex-direction: column;

  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.wrapper {
  border-radius: 10px;
  display: flex;

  margin: 3rem;
  max-width: 960px;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3.1rem;
}

.left-col {
  background-color: hsl(31, 77%, 52%);
}

.middle-col {
  background-color: hsl(184, 100%, 22%);
}

.right-col {
  background-color: hsl(179, 100%, 13%);
}

.car-type-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.car-type-info img {
  align-self: flex-start;
}

.car-type {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.5rem;
}

.description {
  font-size: 1rem;
  line-height: 1.75rem;
}

.learn-more-btn {
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.8rem 2.2rem;
}

.left-col .learn-more-btn {
  color: hsl(31, 77%, 52%);
}

.middle-col .learn-more-btn {
  color: hsl(184, 100%, 22%);
}

.right-col .learn-more-btn {
  color: hsl(179, 100%, 13%);
}

.learn-more-btn:hover {
  background-color: hsla(0, 0%, 95%, 0);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  transition: all 0.15s linear;
}

.attribution {
  color: hsl(228, 45%, 44%);
  font-size: 12px;
  padding-bottom: 0.5rem;
  text-align: center;
}

.attribution a {
  color: hsl(179, 100%, 13%);
  font-size: 13px;
  text-decoration: none;
}

.attribution a:last-of-type {
  font-family: 'Big Shoulders Display', sans-serif;
}

@media only screen and (max-width: 1021px) {
  .column {
    padding: 3rem;
  }
}

@media only screen and (max-width: 1011px) {
  .column {
    gap: 4rem;
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 963px) {
  .description {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 901px) {
  .column {
    gap: 3rem;
    padding: 3rem;
  }
}

@media only screen and (max-width: 863px) {
  .column {
    padding: 2rem;
  }

  .description,
  .learn-more-btn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 790px) {
  .wrapper {
    flex-direction: column;
    margin: 5rem 1.5rem;
    max-width: 450px;
  }

  .column {
    gap: 2rem;
    padding: 3rem;
  }

  .description {
    font-size: 0.95rem;
    line-height: 1.75rem;
  }

  .learn-more-btn {
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
  }
}
